.admin {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

.admin .div {
  overflow: hidden;
  background: linear-gradient(
    180deg,
    rgb(2, 12, 33) 0%,
    rgb(25.66, 49.32, 99.01) 100%
  );
  width: 1650px;
  height: 695px;
  position: relative;
}

.admin .overlap {
  position: absolute;
  width: 1035px;
  height: 680px;
  top: 1px;
  left: 0;
}

.admin .group {
  position: absolute;
  width: 1650px;
  height: 80px;
  top: 50px;
  left: 0;
}

.admin .overlap-group {
  position: absolute;
  width: 1028px;
  height: 641px;
  top: -21px;
  left: 5px;
}

.admin .img {
  width: 644px;
  left: 0;
  position: absolute;
  height: 651px;
  top: 0;
}

.admin .vector-1 {
  position: relative;
  width: 70px;
  height: 70px;
  top: 15px;
  left: 1440px;
  color: white;
}

.admin .img-2 {
  position: absolute;
  width: 196px;
  height: 651px;
  top: 1px;
  left: 644px;
}

.admin .img-3 {
  width: 690px;
  left: 845px;
  position: absolute;
  height: 651px;
  top: -20px;
}

.admin .rectangle {
  position: absolute;
  width: 1650px;
  height: 32px;
  top: 677px;
  left: 0;
  background-color: #2f3644;
  backdrop-filter: blur(4px) brightness(100%);
  -webkit-backdrop-filter: blur(4px) brightness(100%);
}

.admin .group-2 {
  position: absolute;
  width: 465px;
  height: 404px;
  top: 85px;
  left: 700px;
}

.admin .text-wrapper {
  position: absolute;
  top: -22px;
  left: 90px;
  font-family: "League Spartan-Medium", Helvetica;
  font-weight: 700;
  color: #d9d9d9;
  font-size: 38px;
  text-align: center;
  letter-spacing: 0.4px;
  line-height: 19.7px;
  white-space: nowrap;
}

.admin .text-wrapper-2 {
  position: absolute;
  top: 224px;
  left: 135px;
  font-family: "League Spartan-Medium", Helvetica;
  font-weight: 600;
  color: #d9d9d9;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.4px;
  line-height: 19.7px;
  white-space: nowrap;
}

.admin .overlap-group-wrapper {
  position: absolute;
  width: 68px;
  height: 21px;
  top: 68px;
  left: -75px;
}

.admin .div-wrapper {
  position: relative;
  width: 66px;
  height: 21px;
  background-color: #d9d9d9;
}

.admin .text-wrapper-3 {
  left: 11px;
  position: absolute;
  top: 3px;
  font-family: "League Spartan-Medium", Helvetica;
  font-weight: 500;
  color: #020c21;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.3px;
  line-height: 14.8px;
  white-space: nowrap;
}

.admin .overlap-wrapper {
  position: absolute;
  width: 68px;
  height: 21px;
  top: 250px;
  left: 85px;
}

.admin .group-3 {
  position: absolute;
  width: 124px;
  height: 21px;
  top: 357px;
  left: 206px;
}

.admin .overlap-2 {
  position: relative;
  width: 122px;
  height: 21px;
  background-color: #d9d9d9;
}

.admin .text-wrapper-4 {
  position: absolute;
  top: 3px;
  left: 50px;
  font-family: "League Spartan-Medium", Helvetica;
  font-weight: 500;
  color: #020c21;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.3px;
  line-height: 14.8px;
  white-space: nowrap;
}

.admin .group-4 {
  position: absolute;
  width: 68px;
  height: 21px;
  top: 68px;
  left: 474px;
}

.admin .text-wrapper-5 {
  left: 10px;
  position: absolute;
  top: 3px;
  font-family: "League Spartan-Medium", Helvetica;
  font-weight: 500;
  color: #020c21;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.3px;
  line-height: 14.8px;
  white-space: nowrap;
}

.admin .group-5 {
  position: absolute;
  width: 254px;
  height: 56px;
  top: 474px;
  left: 822px;
}

.admin .overlap-3 {
  position: relative;
  width: 258px;
  height: 74px;
  background-color: #d9d9d9;
  border-radius: 16px;
  box-shadow: inset 0px 4px 4px #00000040;
}

.admin .text-wrapper-6 {
  position: absolute;
  top: 58px;
  left: 30px;
  font-family: "League Spartan-SemiBold", Helvetica;
  font-weight: 500;
  color: #1e1e1e;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 23.7px;
  white-space: nowrap;
}

.admin .group-6 {
  position: absolute;
  width: 1650px;
  height: 80px;
  top: 20px;
  left: 0;
}

.admin .overlap-4 {
  position: relative;
  width: 1650px;
  height: 80px;
  background-color: #2f3644;
  backdrop-filter: blur(4px) brightness(100%);
  -webkit-backdrop-filter: blur(4px) brightness(100%);
}

.admin .text-wrapper-7 {
  position: absolute;
  top: 28px;
  left: 53px;
  font-family: "League Spartan-Bold", Helvetica;
  font-weight: 700;
  color: #e0f8f3;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0.48px;
  line-height: 23.7px;
  white-space: nowrap;
}
select {
  border-radius: 8px; /* Adjust the value as needed */
}
.admin .overlap-3:hover {
  background-color: #4caf50;
  font-family: "League Spartan-Bold", Helvetica;
  font-weight: 700;
  color: #e0f8f3;
}
/* .admin .img-4 {
  width: 930px;
  left: 524px;
  position: absolute;
  height: 614px;
  top: -16px;
} */

a{
  text-decoration: None;
}

.admin .group-7 {
  position: absolute;
    width: 124px;
    height: 21px;
    top: 250px;
    left: 316px;
}

.admin .text-wrapper-8 {
  position: absolute;
    top: 40px;
    left: -34px;
    font-family: "League Spartan-Medium", Helvetica;
    font-weight: 600;
    color: #d9d9d9;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.4px;
    line-height: 19.7px;
    white-space: nowrap;
}

.admin .text-wrapper-9 {
  position: absolute;
    top: 40px;
    left: 510px;
    font-family: "League Spartan-Medium", Helvetica;
    font-weight: 600;
    color: #d9d9d9;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.4px;
    line-height: 19.7px;
    white-space: nowrap;
}
.admin .text-wrapper-10 {
  position: absolute;
  top: 331px;
  left: 234px;
  font-family: "League Spartan-Medium", Helvetica;
  font-weight: 600;
  color: #d9d9d9;
  font-size: 16;
  text-align: center;
  letter-spacing: 0.4px;
  line-height: 19.7px;
  white-space: nowrap;
}
.admin .text-wrapper-11 {
  position: absolute;
  top: 224px;
  left: 355px;
  font-family: "League Spartan-Medium", Helvetica;
  font-weight: 600;
  color: #d9d9d9;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.4px;
  line-height: 19.7px;
  white-space: nowrap;
}