<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="globals.css" />
        <link rel="stylesheet" href="{{ url_for('static',filename='css/RCB.css') }}" />
        <style>
            .custom-radio input[type="radio"] {
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                width: 15px;
                height: 15px;
                border: 2px solid #ccc;
                border-radius: 50%;
                outline: none;
            }
    
            .custom-radio input[type="radio"]:checked {
                background-color: red;
            }
    
            .custom-radio input[type="radio"]:disabled {
                background-color: black;
                border-color: black;
            }
        </style>
        
    </head>
    
    <body>
        <p id = "score">{{score}}</p>
        
        <div class = "custom-radio">
        <div class="RCB">
            <div class="div">
                <div class="overlap">
                    <div class="rectangle"></div>
                    <img class="vector" src="{{ url_for('static', filename='images/Vector 598.png') }}" />
                    <img class="img" src="{{ url_for('static', filename='images/Vector 598.png') }}" />

                    {% for i in range(2, 20) %}
                    <img class="vector-{{i}}" src="{{ url_for('static', filename='images/Vector 598.png') }}" />
                    {% endfor %}

                   
                    <div class="text-wrapper" id = "team1_name">{{team}}</div>
                    <div class="text-wrapper-2">SCORECARD</div>
                    {% for val in d %}
                        <div class="text-wrapper-{{loop.index + 2}}">{{val[1]}}</div>
                    {% endfor %}
                    

                   

                    
                    <div class="text-wrapper-17" id = "wickets">{{wickets}}</div>
                    <a href="#"><button type="submit" class="rectangle-50" onclick="update_runs()">UPDATE</button></a>
                    <p class="p" id = "balls">{{balls}}</p>

                    <div class="rectangle-2">
                        <input type="radio" class="checkbox-input" id="{{d[0][0]}}" name = "batter">
                    </div>
                    

                    <div class="rectangle-3">
                        <input type="radio" class="checkbox-input" id="{{d[2][0]}}" name = "batter">
                    </div>



                    <div class="rectangle-4">
                        <input type="radio" class="checkbox-input" id="{{d[4][0]}}" name = "batter" disabled />
                    </div>


                    <div class="rectangle-5">
                        <input type="radio" class="checkbox-input" id="{{d[6][0]}}" name = "batter" disabled/>
                    </div>
                    <div class="rectangle-6">
                        <input type="radio" class="checkbox-input" id="{{d[8][0]}}" name = "batter" disabled/>
                    </div>
                    <div class="rectangle-7">
                        <input type="radio" class="checkbox-input" id="{{d[10][0]}}" name = "batter" disabled/>
                    </div>
                    <div class="rectangle-8">
                        <input type="radio" class="checkbox-input" id="{{d[11][0]}}" name = "batter" disabled/>
                    </div>
                    <div class="rectangle-9">
                        <input type="radio" class="checkbox-input" id="{{d[12][0]}}" name = "batter" disabled/>
                    </div>
                    <div class="rectangle-10">
                        <input type="radio" class="checkbox-input" id="{{d[13][0]}}" name = "batter" disabled/>
                    </div>


                    <div class="ellipse">
                        <input type="radio" id="21" name="Bowling">
                    </div>
                    <div class="ellipse-2">
                        <input type="radio" id="22" name="Bowling">
                    </div>
                    <div class="ellipse-3">
                        <input type="radio" id="23" name="Bowling">
                    </div>
                    <div class="ellipse-4">
                        <input type="radio" id="24" name="Bowling">
                    </div>
                    <div class="ellipse-5">
                        <input type="radio" id="25" name="Bowling">
                    </div>

                    <div class="rectangle-12"></div>
                    <div class="rectangle-13"></div>
                    <div class="navbar">
                        <div class="text-wrapper-18">Batting</div>
                        <div class="text-wrapper-19">1</div>
                        <div class="text-wrapper-20">0</div>
                        <div class="text-wrapper-21">2</div>
                        <div class="text-wrapper-22">4</div>
                        <div class="text-wrapper-23">6</div>
                        <div class="text-wrapper-24">W</div>
                        <div class="text-wrapper-25">E</div>
                    </div>
                    <div class="group">
                        <div class="text-wrapper-18" id = "team2_name">{{team2}}</div>
                        <div class="text-wrapper-19">R</div>
                        <div class="text-wrapper-26">O</div>
                        <div class="text-wrapper-21">W</div>
                    </div>
                    
                   
                    <button type="button" class="rectangle-28" onclick="out()">OUT</button>
                  
                    <button type="button" class="rectangle-36" onclick="extra()">NB</button> <!--added line-->
                    <button type="button" class="rectangle-37" onclick="extra()">WD</button>


                    <div class="text-wrapper-30"></div>
                    <div class="text-wrapper-31"></div>
                    <div class="text-wrapper-32"></div>
                    <div class="text-wrapper-33"></div>
                    <div class="text-wrapper-34"></div>
                    <div class="text-wrapper-35"></div>
                    <div class="text-wrapper-36"></div>
                    <div class="text-wrapper-37"></div>
                    <div class="text-wrapper-38"></div>
                    <div class="text-wrapper-39"></div>
                    <div class="text-wrapper-40"></div>
                    <div class="text-wrapper-41"></div>
                    <div class="text-wrapper-42"></div>
                    <div class="text-wrapper-43"></div>
                    <div class="text-wrapper-44"></div>
                    <div class="text-wrapper-45"></div>
                    <div class="text-wrapper-46"></div>
                    <div class="text-wrapper-47"></div>
                    <div class="text-wrapper-48"></div>
                    <div class="text-wrapper-49"></div>
                    <div class="overlap-group-wrapper">
                        
                        <div class="overlap-group">
                            <input type="radio" id="0" name="run" value="0">
                            <div class="text-wrapper-50"></div>
                            <div class="text-wrapper-51"></div>
                           
                        </div>
                    </div>
                  
                    <div class="group-9">
                        <div class="overlap-group">
                            <input type="radio" id="1" name="run" value="1">
                            <div class="text-wrapper-50"></div>
                            <div class="text-wrapper-51"></div>
                        </div>
                    </div>
                  
                    <div class="group-19">
                        <div class="overlap-group">
                            <input type="radio" id="2" name="run" value="2">
                            <div class="text-wrapper-50"></div>
                            <div class="text-wrapper-51"></div>
                        </div>
                    </div>
                  
                    <div class="group-29">
                        <div class="overlap-group">
                            <input type="radio" id="4" name="run" value="4">
                            <div class="text-wrapper-50"></div>
                            <div class="text-wrapper-51"></div>
                        </div>
                    </div>
                    
                    <div class="group-38">
                        <div class="overlap-group">
                            <input type="radio" id="6" name="run" value="6" >
                            <div class="text-wrapper-50"></div>
                            <div class="text-wrapper-51"></div>
                        </div>
                    </div>
                    
                    <a href = "/complete_match"><button type="submit" class="rectangle-49">FINISH MATCH</button></a>
                    <div class="text-wrapper-52"></div>
                </div>
                <div class="group-wrapper">
                    <div class="group-44">
                        <div class="text-wrapper-53">CRIC</div>
                        <a href = "/admin_login"> <img class="vector1" src="{{ url_for('static',filename='images/Logout.png') }}"></a>
                        <div class="group-45"></div>
                        <div class="rectangle-11"></div>
                    </div>
                </div>
            </div>
        </div>
        <script>
                let wickets = parseInt(document.getElementById('wickets').innerHTML);
                let remaining_balls = parseInt(document.getElementById("balls").innerHTML);
                let target = parseInt(document.getElementById("score").innerHTML);
                document.getElementById("11").checked = true;   
                document.getElementById("0").checked = true;
                document.getElementById("21").checked = true; 
                let batters = 13;
                let present_batter = "11";
                let present_bowler = "21";
                let bowlers_Radio = ["22", "23", "24", "25"];
                function disableCheckedRadio(name) {
                    if(match_over() == true){
                    const checkedRadio = document.querySelector(`input[type="radio"][name="${name}"]:checked`);
                    if (checkedRadio && batters < 22) {
                        checkedRadio.checked = false;
                        checkedRadio.disabled = true;
                        const prevActiveRadio = document.getElementById(batters.toString());
                        batters += 1;

                        if (prevActiveRadio && !prevActiveRadio.checked) {
                            prevActiveRadio.disabled = false;
                            prevActiveRadio.checked = true;
                            present_batter = (batters - 1).toString();
                            console.log(present_batter);

                        }
                    }
                }
                }

let enabledRadios = [];
let balls = 0;

function checkEnabledRadios() {
    if(match_over() == true){
        const radioButtons = document.querySelectorAll('input[type="radio"][name="batter"]');

        enabledRadios = [];
        radioButtons.forEach(radio => {
            if (!radio.disabled) {
                enabledRadios.push(radio.id);
            }
        });
    }
}

function changeBowler(){
        balls = balls + 1;
        if(balls % 6 === 0){
            checkEnabledRadios();
            if (document.getElementById(enabledRadios[0]).checked) {
                document.getElementById(enabledRadios[1]).checked = true;
                present_batter = enabledRadios[1];
            } else if (document.getElementById(enabledRadios[1]).checked) {
                document.getElementById(enabledRadios[0]).checked = true;
                present_batter = enabledRadios[0];
            }
            bowlers_Radio.push(present_bowler);
            present_bowler = bowlers_Radio.shift();
            document.getElementById(present_bowler).checked = true;
        }
}



function swapper() {
        changeBowler();
        const radioButtons = document.querySelectorAll('input[type="radio"][name="run"]');
        let selectedValue = null;

        radioButtons.forEach(radio => {
            if (radio.checked) {
                selectedValue = parseInt(radio.value);
            }
        });
        
        if(selectedValue && selectedValue % 2 !== 0) {
            checkEnabledRadios();
            if (document.getElementById(enabledRadios[0]).checked) {
                document.getElementById(enabledRadios[1]).checked = true;
                present_batter = enabledRadios[1];
            } else if (document.getElementById(enabledRadios[1]).checked) {
                document.getElementById(enabledRadios[0]).checked = true;
                present_batter = enabledRadios[0];
            }
        }
}

                
    window.onbeforeunload = function() {
        return "Are you sure you want to leave? You may lose unsaved changes.";
    };

    function update_runs() {
        console.log(target);

        if(match_over() == true){
            remaining_balls -= 1;
            document.getElementById('balls').innerHTML = remaining_balls;
            const radioButtons = document.querySelectorAll('input[type="radio"][name="run"]');
            let selectedValue = null;
            radioButtons.forEach(radio => {
                if (radio.checked) {
                    selectedValue = parseInt(radio.value);
                }
            });
            const batter = parseInt(present_batter) - 10;
            const run = selectedValue;
            const team = document.getElementById('team1_name').innerHTML;
            const formData = new FormData();
            target -= run;
            formData.append('id', batter);
            formData.append('run', run);
            formData.append('team', team);
            formData.append('innings', 2);
            formData.append('team2_name', document.getElementById('team2_name').innerHTML)
            formData.append('bowler_id', parseInt(present_bowler) - 20)

            const xhr = new XMLHttpRequest();
            xhr.open('POST', '/update_runs', true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                console.log('Data submitted successfully');
                }
            };
            xhr.send(formData);
            swapper();
            
    }
}



    function extra(){
        target -= 1;
        if(match_over() == true){
            const data = new FormData();
            data.append('extra', 1);
            data.append('team1_name', document.getElementById('team1_name').innerHTML)
            data.append('team2_name', document.getElementById('team2_name').innerHTML)
            data.append('bowler_id', parseInt(present_bowler) - 20)
            data.append('innings', 2);
            const xhr = new XMLHttpRequest();
            xhr.open('POST', '/extra', true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                console.log('Data submitted successfully');
                }
            };
            xhr.send(data);
        }
    }
    window.onbeforeunload = function() {
        return "Are you sure you want to leave this page?";
    };


    function out(){
        if(match_over() == true){
            wickets -= 1;
            remaining_balls -= 1;
            document.getElementById('wickets').innerHTML = wickets;
            document.getElementById('balls').innerHTML = remaining_balls;
            const formData = new FormData();

            formData.append('bowler_id', parseInt(present_bowler) - 20);
            formData.append('batter_id', parseInt(present_batter) - 10);
            formData.append('bat_team', document.getElementById('team1_name').innerHTML);
            formData.append('bowl_team', document.getElementById('team2_name').innerHTML);
            
            const xhr = new XMLHttpRequest();
            xhr.open('POST', '/update_wicket', true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                console.log('Data submitted successfully');
                }
            };
            xhr.send(formData);

            disableCheckedRadio('batter');
            changeBowler();
        }
    }

    function match_over(){
        if(wickets == 0){
            alert('All out, Finish innings!!!.');
            return false;
        }
        else if(remaining_balls == 0){
            alert('Overs complete!!!');
            return false;
        }
        else if(target <= 0){
            alert('Target reached');
            return false;
        }
        else{
            return true;
        }
    }
          </script>
          </div>
    </body>
</html>
