<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/home.css') }}" />
    </head>
    <body>
        <div class="home-page">
            <div class="div">
                <div class="overlap">
                    <div class="group">
                        <a href = "/" class="text-wrapper">CRIC</a>
                        <a href ="/admin_login" target="_blank"> <img class="img" src="{{ url_for('static',filename='images/admin-01.png') }}"> </a>
                    </div>
                    <div class="navbar">
                        <div class="div-wrapper">
                            <ul>
                        <li><a href="/match" class="text-wrapper-2 ">Matches</a></li>
                        <li><a href="/live_1" class="text-wrapper-3 ">Live</a></li>
                        <li><a href="/news" class="text-wrapper-4 ">News</a></li>
                        <li><a href="table" class="text-wrapper-5 ">Table</a></li>
                        <li><a href="/players" class="text-wrapper-6 ">Players</a></li>
                            </ul></div>
                </div>
                <div class="rectangle"></div>
                <div class="group-2">
                    <div class="group-3">
                        <div class="ellipse"></div>
                        <div class="ellipse-2"></div>
                        <div class="ellipse-3"></div>
                        <div class="ellipse-4"></div>
                        <div class="ellipse-5"></div>
                        <div class="ellipse-6"></div>
                        <div class="ellipse-7"></div>
                    </div>
                    <b><div class="vector"> < </div></b>
                    <b><div class="vector-2"> > </div></b>
                </div>
                <div class="overlap-group">
                    <img class="rectangle-2" src="{{ url_for('static', filename='images/6.jpeg') }}" />
                    <div class="rectangle-3"></div>
                    <img class="rectangle-4" src="{{ url_for('static', filename='images/5.jpeg') }}" />
                    <div class="rectangle-5"></div>
                    <img class="rectangle-6" src="{{ url_for('static', filename='images/4.jpeg') }}" />
                    <div class="rectangle-7"></div>
                    <img class="rectangle-8" src="{{ url_for('static', filename='images/1.jpg') }}" />
                    <div class="rectangle-9"></div>
                    <img class="rectangle-10" src="{{ url_for('static', filename='images/2.jpeg') }}" />
                    <div class="rectangle-11"></div>
                    <img class="rectangle-12" src="{{ url_for('static', filename='images/3.jpg') }}" />
                    <div class="rectangle-13"></div>
                    <img class="rectangle-14" src="{{ url_for('static', filename='images/GI44O3fXoAAPmGm.jpg') }}" />
                    <div class="rectangle-15"></div>
                </div>
                <div class="overlap-2">
                    <div class="overlap-wrapper">
                        <div class="overlap-3">
                            <div class="text-wrapper-7">Cricket Match</div>
                            <div class="text-wrapper-8">Cricket News</div>
                            <div class="group-4">
                                <div class="overlap-4">
                                    <img class="group-5" src="{{ url_for('static', filename='images/Group 3177.png') }}" /> <img class="vector-3" src="{{ url_for('static', filename='images/Vector 589.png') }}" />
                                </div>
                                <div class="overlap-5">
                                    <img class="vector-4" src="{{ url_for('static', filename='images/Vector 595.png') }}" />
                                    <img class="group-6" src="{{ url_for('static', filename='images/Group 1.png') }}">
                                        <div class="overlap-group-wrapper">
                                            <div class="overlap-group-2">
                                                <!-- <img src="{{ url_for('static', filename='images/Group 1.png') }}"> -->
                                                <img class="vector-5" src="{{ url_for('static', filename='images/vector-591.svg') }}" />
                                                <img class="vector-6" src="{{ url_for('static', filename='images/vector-592.svg') }}" />
                                            </div>
                                        </div>
                    <div class="group-8">
                        <div class="overlap-7">
                            <div class="text-wrapper-19">TBC</div>
                            <div class="text-wrapper-20">TBC</div>
                            <div class="text-wrapper-21">Wednesday, 29/4</div>
                            <div class="text-wrapper-22">25 from 74 T20s</div>
                            <img class="pngwing-2" src="{{ url_for('static', filename='images/TBC.png') }}" />
                            <img class="pngwing-3" src="{{ url_for('static', filename='images/TBC.png') }}" />
                            <div class="text-wrapper-23">0/0 (0.0)</div>
                            <div class="text-wrapper-24">0/0 (0.0)</div>
                            <div class="text-wrapper-25"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="scroll.js"></script>
   </body>
</html>