<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ url_for('static',filename='css/news.css') }}" />
    </head>
    <body>
        <div class="news">
            <div class="div">
                <div class="overlap">
                    <div class="group">
                        <a href="/"><div class="text-wrapper">CRIC</div></a>
                        <!-- <img class="img" src="admin-01.png" /> -->
                    </div>
                    <div class="navbar">
                        <div class="div-wrapper">
                            <ul>
                                <li><a href = "/match"  class ="text-wrapper-2">Matches</a></li>
                                <li><a href = "/live_1" class="text-wrapper-3">Live</a></li>
                                <li><a href = "/news" class="text-wrapper-4">News</a></li>
                                <li><a href="/table"class="text-wrapper-5">Table</a></li>
                                <li><a href="/players" class="text-wrapper-6">Players</a></li>
                                </ul>
                    </div>
                </div>
                <div class="rectangle"></div>
                <img class="vector" src="img/vector-617.svg" />
                <div class="group-2">
                    <div class="overlap-group-wrapper">
                        <div class="overlap-group">
                            <div class="flexcontainer">
                                <p class="text">
                                    <span class="span"
                                        >IPL 2024: Kohli’s brilliant batting gives Bengaluru victory, hits 100th fifty in T20<br
                                    /></span>
                            </div>
                            <p class="zee-news-hours">Zee News&nbsp;&nbsp;&nbsp;&nbsp; .&nbsp;&nbsp;&nbsp;&nbsp; 11 hours ago</p>
                            <img class="rectangle-2" src="1.jpg" />
                        </div>
                    </div>
                    <div class="overlap-wrapper">
                        <div class="overlap-2">
                            <p class="p">Oneindia Gujarati&nbsp;&nbsp;&nbsp;&nbsp; .&nbsp;&nbsp;&nbsp;&nbsp; 18 hours ago</p>
                            <div class="rectangle-3"></div>
                            <div class="flexcontainer-2">
                                <p class="span-wrapper">
                                    <span class="span">IPL 2024: Was Virat Kholi’s knock the reason why RCB lost to Rajasthan Royals<br /></span>
                            </div>
                            <img class="rectangle-4" src="2.jpeg" />
                        </div>
                    </div>
                    <div class="group-3">
                        <div class="overlap-2">
                            <p class="p">VTV News&nbsp;&nbsp;&nbsp;&nbsp; .&nbsp;&nbsp;&nbsp;&nbsp; 20 hours ago</p>
                            <div class="rectangle-3"></div>
                            <div class="flexcontainer-3">
                                <p class="span-wrapper">
                                    <span class="span">‘Go back’, Hardik got the power of the captain or what? Rohit Sharma ran a lot in the field<br /></span>
                            </div>
                            <img class="rectangle-4" src="3.jpg" />
                        </div>
                    </div>
                    <div class="group-4">
                        <div class="overlap-2">
                            <p class="p">News 18 Gujarati&nbsp;&nbsp;&nbsp;&nbsp; .&nbsp;&nbsp;&nbsp;&nbsp; 21 hours ago</p>
                            <div class="rectangle-3"></div>
                            <div class="flexcontainer-4">
                                <p class="span-wrapper">
                                    <span class="span">IPL 2024: Major updates on remaining matches schedule, know when and where the final will be played<br /></span>
                            </div>
                            <img class="rectangle-4" src="4.jpeg" />
                        </div>
                    </div>
                    <div class="group-5">
                        <div class="overlap-2">
                            <p class="p">Zee News&nbsp;&nbsp;&nbsp;&nbsp; .&nbsp;&nbsp;&nbsp;&nbsp; 1 day ago</p>
                            <div class="rectangle-3"></div>
                            <div class="flexcontainer-5">
                                <p class="span-wrapper">
                                    <span class="span">IPL 2024: Ahmedabadis will be painted in the color of cricket today, GT and MI will fight<br /></span>
                                </div>
                            <img class="rectangle-4" src="5.jpeg" />
                        </div>
                    </div>
                    <div class="group-6">
                        <div class="overlap-2">
                            <p class="p">Sandesh&nbsp;&nbsp;&nbsp;&nbsp; .&nbsp;&nbsp;&nbsp;&nbsp; 2 days ago</p>
                            <div class="rectangle-3"></div>
                            <div class="flexcontainer-6">
                                <p class="span-wrapper">
                                    <span class="span">Batters must come to the party for CSK against powerplay bosses KKR<br /></span>
                            </div>
                            <img class="rectangle-4" src="6.jpeg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>