<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="globals.css" />
        <link rel="stylesheet" href="{{ url_for('static',filename='css/live.css') }}" />
    </head>
    <body>
        <div class="live">
            <div class="div">
                <div class="overlap">
                    <div class="group">
                        <a href = "/" class="text-wrapper">CRIC</a>
                        <div class="group-2"></div>
                    </div>
                    <div class="navbar">
                        <div class="div-wrapper">
                            <ul>
                                <li><a href = "/match"  class ="text-wrapper-2">Matches</a></li>
                                <li><a href = "/live_1" class="text-wrapper-3">Live</a></li>
                                <li><a href = "/news" class="text-wrapper-4">News</a></li>
                                <li><a href="/table"class="text-wrapper-5">Table</a></li>
                                <li><a href="/players" class="text-wrapper-6">Players</a></li>
                                </ul>
                    </div>
                </div>
                <img class="vector" src="img/vector-616.svg" />
                <div class="overlap-wrapper">
                    <div class="overlap-group">
                        <div class="rectangle"></div>
                        <div class="group-3">
                            <div class="text-wrapper-7">TBC</div>
                            <div class="text-wrapper-8">0%</div>
                            <div class="text-wrapper-9">0%</div>
                            <div class="text-wrapper-10">TBC</div>
                            <div class="text-wrapper-11">CHANCES OF WINNING</div>
                            <img class="img" src="Vector 598.png" />
                            <div class="rectangle-2"></div>
                            <div class="rectangle-3"></div>
                        </div>
                        <img class="rectangle-4" src="{{ url_for('static',filename='images/CSK-vs-RCB-backD.jpg') }}" />
                        <img class="vector-2" src="Vector 598.png" />
                        <img class="vector-3" src="Vector 598.png" />
                        <img class="vector-4" src="Vector 598.png" />
                        <img class="vector-5" src="Vector 598.png" />
                        <img class="vector-6" src="Vector 598.png" />
                        <img class="vector-7" src="Vector 598.png" />
                        <img class="vector-8" src="Vector 598.png" />
                        <img class="vector-9" src="Vector 598.png" />
                        <img class="vector-10" src="Vector 598.png" />
                        <img class="vector-11" src="Vector 598.png" />
                        <img class="vector-12" src="Vector 598.png" />
                        <img class="vector-13" src="Vector 598.png" />
                        <img class="vector-14" src="Vector 598.png" />
                        <img class="vector-15" src="Vector 598.png" />
                        <img class="vector-16" src="Vector 598.png" />
                        <img class="vector-17" src="Vector 598.png" />
                        <div class="group-4">
                            <div class="text-wrapper-12">TBC</div>
                            <div class="text-wrapper-13">TBC</div>
                            <div class="text-wrapper-14">Wednesday, 10/5</div>
                            <div class="text-wrapper-15">No live match</div>
                            <img class="pngwing" src="{{ url_for('static',filename='images/TBC.png') }}" />
                            <img class="pngwing-2" src="{{ url_for('static',filename='images/TBC.png') }}" />
                            <div class="text-wrapper-16">0/0</div>
                            <div class="text-wrapper-17">0/0</div>
                            <div class="text-wrapper-18">(00.0)</div>
                            <div class="text-wrapper-36">(00.0)</div>
                        </div>
                        <img class="vector-18" src="img/vector-633.svg" />
                        <div class="rectangle-5"></div>
                        <div class="group-5">
                            <div class="group-6">
                                <div class="text-wrapper-19"></div>
                                <div class="group-7">
                                    <div class="text-wrapper-20"></div>
                                    <div class="text-wrapper-21"></div>
                                    <div class="text-wrapper-22"><div>
                                    <div class="text-wrapper-23"></div>
                                    <div class="text-wrapper-24"></div>
                                </div>
                            </div>
                            <div class="group-8">
                                <div class="group-9">
                                    <div class="text-wrapper-20"></div>
                                    <div class="text-wrapper-21"></div>
                                    <div class="text-wrapper-22"></div>
                                    <div class="text-wrapper-23"></div>
                                    <div class="text-wrapper-25"></div>
                                </div>
                                <div class="text-wrapper-26"></div>
                            </div>
                            <div class="group-10">
                                <div class="group-11">
                                    <div class="text-wrapper-20"></div>
                                    <div class="text-wrapper-21"></div>
                                    <div class="text-wrapper-22"></div>
                                    <div class="text-wrapper-23"></div>
                                    <div class="text-wrapper-27"></div>
                                </div>
                                <div class="text-wrapper-28"></div>
                            </div>
                            <div class="group-12">
                                <div class="group-13">
                                    <div class="text-wrapper-20"></div>
                                    <div class="text-wrapper-21"></div>
                                    <div class="text-wrapper-22"></div>
                                    <div class="text-wrapper-23"></div>
                                    <div class="text-wrapper-29"></div>
                                </div>
                                <div class="text-wrapper-30"></div>
                            </div>
                            <div class="overlap-group-wrapper">
                                <div class="overlap-2">
                                    <div class="text-wrapper-31"></div>
                                    <div class="group-14">
                                        <div class="overlap-group-2">
                                            <p class="p"></p>
                                            <div class="flexcontainer">
                                                <p class="text">
                                                    <span class="span"></span>
                                                </p>
                                                <p class="text1"><span class="span1"></span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="group-15">
                                <div class="group-11">
                                    <div class="text-wrapper-20"></div>
                                    <div class="text-wrapper-21"></div>
                                    <div class="text-wrapper-22"></div>
                                    <div class="text-wrapper-23"></div>
                                    <div class="text-wrapper-27"></div>
                                </div>
                                <div class="text-wrapper-28"></div>
                            </div>
                            <div class="group-16">
                                <div class="text-wrapper-30"></div>
                                <p class="text-wrapper-32"></p>
                            </div>
                            <div class="group-17">
                                <a href = "live1.html" class="text-wrapper-33"></a>
                                <div class="text-wrapper-34"></div>
                                <div class="text-wrapper-35"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rectangle-6"></div>
            </div>
        </div>
   </body>
</html>