<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ url_for('static',filename='css/players.css') }}" />
    </head>
    <body>
        <div class="players">
            <div class="div">
                <div class="overlap">
                    <div class="group">
                        <a href="/"><div class="text-wrapper">CRIC</div></a>
                        <!-- <img class="img" src="admin-01.png" /> -->
                    </div>
                    <div class="navbar">
                        <div class="div-wrapper">
                            <ul>
                                <li><a href = "/match"  class ="text-wrapper-2">Matches</a></li>
                                <li><a href = "/live_1" class="text-wrapper-3">Live</a></li>
                                <li><a href = "/news" class="text-wrapper-4">News</a></li>
                                <li><a href="/table"class="text-wrapper-5">Table</a></li>
                                <li><a href="/players" class="text-wrapper-6">Players</a></li>
                                </ul>
                    </div>
                </div>
                <div class="rectangle"></div>
                <img class="vector" src="img/vector-617.svg" />
                <div class="overlap-wrapper">
                    <div class="overlap-group">
                        <div class="rectangle-wrapper"><div class="rectangle-2"></div></div>
                        <div class="group-2">
                            <div class="overlap-group-wrapper">
                                <div class="overlap-group-2">
                                    <div class="text-wrapper-7">Virat Kohli</div>
                                    <div class="text-wrapper-8">batsman</div>
                                    <img class="rectangle-3" src="11.jpeg" />
                                    <div class="rectangle-4"></div>
                                </div>
                            </div>
                            <div class="group-3">
                                <div class="overlap-group-2">
                                    <div class="suryakumar-yadav">Suryakumar<br />Yadav</div>
                                    <div class="text-wrapper-8">batsman</div>
                                    <img class="rectangle-5" src="77.jpg" />
                                    <div class="rectangle-4"></div>
                                </div>
                            </div>
                            <div class="group-4">
                                <div class="overlap-group-2">
                                    <div class="text-wrapper-9">Ruturaj<br />Gaikwad</div>
                                    <div class="text-wrapper-8">batsman</div>
                                    <img class="rectangle-3" src="113.jpg" />
                                    <div class="rectangle-4"></div>
                                </div>
                            </div>
                            <div class="group-5">
                                <div class="overlap-group-2">
                                    <div class="mahendra-singh-dhoni">Mahendra<br />Singh Dhoni</div>
                                    <div class="text-wrapper-10">wicket keeper</div>
                                    <img class="rectangle-6" src="22.jpeg" />
                                    <div class="rectangle-4"></div>
                                </div>
                            </div>
                            <div class="group-6">
                                <div class="overlap-group-2">
                                    <div class="text-wrapper-11">Rishabh Pant</div>
                                    <div class="text-wrapper-10">wicket keeper</div>
                                    <img class="rectangle-3" src="88.jpg" />
                                    <div class="rectangle-4"></div>
                                </div>
                            </div>
                            <div class="group-7">
                                <div class="overlap-group-2">
                                    <div class="text-wrapper-11">Shubman Gill</div>
                                    <div class="text-wrapper-8">batsman</div>
                                    <img class="rectangle-6" src="114.jpg" />
                                    <div class="rectangle-4"></div>
                                </div>
                            </div>
                            <div class="group-8">
                                <div class="overlap-group-2">
                                    <div class="text-wrapper-12">Rohit Sharma</div>
                                    <div class="text-wrapper-8">batsman</div>
                                    <img class="rectangle-3" src="33.jpg" />
                                    <div class="rectangle-4"></div>
                                </div>
                            </div>
                            <div class="group-9">
                                <div class="overlap-group-2">
                                    <div class="text-wrapper-13">Rinku Singh</div>
                                    <div class="text-wrapper-8">batsman</div>
                                    <img class="rectangle-6" src="99.jpeg" />
                                    <div class="rectangle-4"></div>
                                </div>
                            </div>
                            <div class="group-10">
                                <div class="overlap-group-2">
                                    <div class="text-wrapper-14">Daryl Mitchell</div>
                                    <div class="text-wrapper-15">all-rounder</div>
                                    <img class="rectangle-3" src="118.jpeg" />
                                    <div class="rectangle-4"></div>
                                </div>
                            </div>
                            <div class="group-11">
                                <div class="overlap-group-2">
                                    <div class="text-wrapper-16">Sameer Rizvi</div>
                                    <div class="text-wrapper-8">batsman</div>
                                    <img class="rectangle-3" src="44.jpeg" />
                                    <div class="rectangle-4"></div>
                                </div>
                            </div>
                            <div class="group-12">
                                <div class="overlap-group-2">
                                    <div class="text-wrapper-9">Rachin<br />Ravindra</div>
                                    <div class="text-wrapper-15">all-rounder</div>
                                    <img class="rectangle-6" src="100.jpg" />
                                    <div class="rectangle-4"></div>
                                </div>
                            </div>
                            <div class="group-13">
                                <div class="overlap-group-2">
                                    <div class="text-wrapper-12">Alzari Joseph</div>
                                    <div class="text-wrapper-17">bowler</div>
                                    <img class="rectangle-3" src="115.jpeg" />
                                    <div class="rectangle-4"></div>
                                </div>
                            </div>
                            <div class="group-14">
                                <div class="overlap-group-2">
                                    <div class="text-wrapper-14">Mitchell Starc</div>
                                    <div class="text-wrapper-17">bowler</div>
                                    <img class="rectangle-3" src="55.jpeg"/>
                                    <div class="rectangle-4"></div>
                                </div>
                            </div>
                            <div class="group-15">
                                <div class="overlap-group-2">
                                    <div class="text-wrapper-18">Sanju Samson</div>
                                    <div class="text-wrapper-10">wicket keeper</div>
                                    <img class="rectangle-6" src="111.jpeg" />
                                    <div class="rectangle-4"></div>
                                </div>
                            </div>
                            <div class="group-16">
                                <div class="overlap-group-2">
                                    <div class="text-wrapper-19">K.L Rahul</div>
                                    <div class="text-wrapper-8">batsman</div>
                                    <img class="rectangle-3" src="116.jpeg" />
                                    <div class="rectangle-4"></div>
                                </div>
                            </div>
                            <div class="group-17">
                                <div class="overlap-group-2">
                                    <div class="text-wrapper-18">Hardik Pandya</div>
                                    <div class="text-wrapper-15">all-rounder</div>
                                    <img class="rectangle-6" src="66.jpeg" />
                                    <div class="rectangle-4"></div>
                                </div>
                            </div>
                            <div class="group-18">
                                <div class="overlap-group-2">
                                    <div class="text-wrapper-11">Pat Cummins</div>
                                    <div class="text-wrapper-17">bowler</div>
                                    <img class="rectangle-6" src="112.jpeg"/>
                                    <div class="rectangle-4"></div>
                                </div>
                            </div>
                            <div class="group-19">
                                <div class="overlap-2">
                                    <div class="mohammed-shami">Mohammed<br />Shami</div>
                                    <div class="text-wrapper-17">bowler</div>
                                    <img class="rectangle-3" src="117.jpg" />
                                    <div class="rectangle-7"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>