<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ url_for('static',filename='css/table.css') }}" />
    </head>
    <body>
        <div class="table">
            <div class="div">
                <div class="overlap">
                    
                <div class="overlap-11">
                    <div class="group-22">
                        <a href="/"><div class="text-wrapper-12">CRIC</div></a>
                        <!-- <img class="group-23" src="admin-01.png" /> -->
                    </div>
                    <div class="navbar">
                        <div class="group-24">
                            <ul>
                                <li><a href = "/match"  class ="text-wrapper-13">Matches</a></li>
                                <li><a href = "/live_1" class="text-wrapper-14">Live</a></li>
                                <li><a href = "/news" class="text-wrapper-15">News</a></li>
                                <li><a href="/table"class="text-wrapper-16">Table</a></li>
                                <li><a href="/players" class="text-wrapper-17">Players</a></li>
                                </ul>
                    </div>
                </div>
                <div class="rectangle"></div>
                <img class="vector-6" src="img/vector-617.svg" />
            </div>
        </div>
   </body>
</html>